{% load staticfiles %}

<!DOCTYPE html>

<html >

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Treasure Gram</title>

</head>

<body>

    <h1>Welcome to Treasure Gram</h1>

    {% for treasure in treasures %}

        <p>{{ treasure.name }}</p>
        <p>{% if treasure.value > 0 %}

                {{ treasure.value }}

            {% else %}

                {{ 'Unknown' }}
        </p>

        {% endif %}

    {% endfor %}
</body>

</html>

