{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Treasure Gram</title>

</head>

<body>

    <nav class="navbar navbar-default navbar-static-top text-center" role="navigation">

        <a href="/"><img src="{% static 'images/logo.png'%}" height="90" ></a>
    </nav>

    {% for treasure in treasures %}

        <p>{{ treasure.name }}</p>
        <p>{% if treasure.value > 0 %}

                {{ treasure.value }}

            {% else %}

                {{ 'Unknown' }}
        </p>

        {% endif %}

    {% endfor %}
</body>

</html>

