{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <main class="container container--mw700">

        <div class="row">

            {%for treasure in treasures%}

                <a href="/{{ treasure.id }}/"> <!-- Links the home page to the detail page by each treasure's id -->

                    <div class="col-md-4">

                        <div class="treasure panel panel-default">

                            <div class="panel-heading">

                                <h3 class="panel-title">{{ treasure.name }}</h3>

                            </div>

                            <div class="panel-body">

                                <div class="treasure-photo">

                                    <img src="{{ treasure.img_url }}" height="100">

                                </div>
                            </div>


                        </div>

                    </div>
                </a>


            {% if forloop.counter|divisibleby:3 %} <!-- Ensures that after every 3 iterations, a new row is created. Avoids overlays caused by varying image heights -->
                </div><div class = "row"> <!-- If the condition is met (Iteration divisible by 3, the current row is ended and another one started. -->
            {% endif %}

            {% endfor %}
        </div>

    </main>

{% endblock %}

